body {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: lightgray
}

h3 {
    font-family: fantasy;
    color: blue;
    
}
#wrapper{
    width: 375px;
    height: 325px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: auto;
    flex-shrink: auto;
    background-image: url("betterconnect4.png");
    background-size: 375px 325px;
    background-repeat: no-repeat;
    
}

.column{
    box-sizing: border-box;
    height: 100%;
    width: 53.57px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    animation: drop 1s ease-out;
}
#displayTurn{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.redDisc{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 1px;
    margin-top: 3.5px;
    animation: drop .75s ease-out;
    z-index: -1;
    
}

.blackDisc {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:black;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 1px;
    margin-top: 3.5px;
    animation: drop .75s ease-out;
    z-index: -1;
}
#winner:hover {
    text-decoration: underline;
}

@keyframes drop {

from {top: -100%;}
to {top: 0;}

}

.left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.right {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#bee {transition: transform .1s}